section {
    height: 100vh;
    // width: 100%;
    display: flex;
    align-items: center;
    padding: var(--padding);

    div {
        flex: 1;
    }

    img {
        width: 320px;
        height: auto;
        border: solid 8px var(--accent-color);
        border-radius: 4px;
    }
}

.text {
    padding: 160px;
    display: flex;
    flex-direction: column;
    gap: var(--padding);
}

.social {
    display: flex;
    justify-content: center;
    gap: 16px;
}

@media (max-width: 768px) {
    section {
        height: unset;
        flex-direction: column;
        align-items: stretch;
        gap: var(--padding);

        img {
            width: 240px;
            height: auto;
        }
    }

    .text {
        padding: 0;
    }
}
