<section class="container" id="about">
  <div class="text">
    <h2>Sobre mim</h2>
    <p>
      Programo profissionalmente há mais de 20 anos. Sou desenvolvedora front-end desde 2018,
      apaixonada por Angular e por ensinar. Publiquei o livro "Angular na Prática" em janeiro de
      2025 e desde então venho compartilhando conteúdo técnico com a comunidade brasileira. Quando
      não estou codando, estou provavelmente estudando alguma coisa nova, lendo um livro, tomando um
      chá/café/cerveja ou me focando em um dos meus vários projetos pessoais.
    </p>
    <p class="social">
      <a href="https://www.linkedin.com/in/ortegavan/" target="_blank" rel="noopener noreferrer"
        ><i class="fa-brands fa-square-linkedin"></i
      ></a>
      <a href="https://www.youtube.com/@ortegavan" target="_blank" rel="noopener noreferrer"
        ><i class="fa-brands fa-square-youtube"></i
      ></a>
      <a href="https://medium.com/@ortegavan" target="_blank" rel="noopener noreferrer"
        ><i class="fa-brands fa-medium"></i
      ></a>
      <a href="https://www.instagram.com/ortegavan/" target="_blank" rel="noopener noreferrer"
        ><i class="fa-brands fa-instagram"></i
      ></a>
      <a href="https://github.com/ortegavan" target="_blank" rel="noopener noreferrer"
        ><i class="fa-brands fa-github"></i
      ></a>
    </p>
  </div>
  <div>
    <img src="van.jpg" alt="Foto de Vanessa Ortega" />
  </div>
</section>
