<section>
  <div class="container">
    <div class="text">
      <h2>Angular na prática</h2>
      <p>
        Meu livro para quem quer aprender Angular construindo um projeto real do zero ao deploy.
      </p>
      <a
        href="https://www.angularnapratica.com.br/"
        role="button"
        class="btn"
        target="_blank"
        rel="noopener noreferrer"
        >Quero aprender Angular</a
      >
    </div>
    <div>
      <img src="kindle.png" alt="Foto de Angular na Prática" />
    </div>
  </div>
</section>
