<footer>
  <div class="container">
    <p>Feito com <i class="fa-duotone fa-solid fa-heart"></i> e Angular por Van em Maringá</p>
    <p class="social">
      <a href="https://www.linkedin.com/in/ortegavan/" target="_blank" rel="noopener noreferrer"
        >LinkedIn</a
      >
      <a href="https://www.youtube.com/@ortegavan" target="_blank" rel="noopener noreferrer"
        >YouTube</a
      >
      <a href="https://medium.com/@ortegavan" target="_blank" rel="noopener noreferrer">Medium</a>
      <a href="https://www.instagram.com/ortegavan/" target="_blank" rel="noopener noreferrer"
        >Instagram</a
      >
      <a href="https://github.com/ortegavan" target="_blank" rel="noopener noreferrer">GitHub</a>
    </p>
    <p>E-mail: oi@ortegavan.com.br</p>
  </div>
</footer>
