footer {
    background-color: var(--accent-color);
    color: var(--secondary-color);
    font-size: 13px;
    font-weight: 500;

    div {
        padding: var(--padding);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 8px;
    }

    i {
        font-size: 13px;
    }

    a {
        color: var(--secondary-color);
        text-decoration: none;
    }
}

.social {
    display: flex;
    gap: 16px;
}
