section {
    padding: var(--padding);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
    height: calc(100vh - 100px);
}

.kit-form-wrapper {
    overflow-x: hidden;

    @media (min-width: 769px) {
        margin-top: -32px !important;
        margin-left: -13px !important;
    }
}
