<section class="container" id="courses">
  <h2>Em breve</h2>
  <p>Quer saber quando lançar? Inscreva-se na minha newsletter</p>
  <div class="cards">
    <app-card
      title="Curso: UI para desenvolvedores Angular"
      icon="fa-duotone fa-solid fa-swatchbook"
    >
      Aprenda a criar e organizar interfaces de usuário incríveis com Angular
    </app-card>
    <app-card
      title="Curso: Estado reativo com NgRx + SignalStore"
      icon="fa-duotone fa-solid fa-floppy-disks"
    >
      Gerenciamento de estado reativo no Angular com NgRx e SignalStore
    </app-card>
    <app-card title="Curso: apps móveis com Ionic + Angular" icon="fa-duotone fa-solid fa-mobile">
      Desenvolva aplicativos móveis com Ionic e Angular
    </app-card>
  </div>
</section>
