section {
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .cards {
        margin-top: var(--padding);
        width: 100%;
        display: flex;
        gap: var(--padding);

        app-card {
            flex: 1;
        }
    }
}

@media (max-width: 768px) {
    section {
        height: unset;
        gap: var(--padding);

        .cards {
            flex-direction: column;
        }
    }
}
